@import url('/css/normalize.css');

ul {
    list-style-type: none;
    margin:5px;
    padding: 0;
    display: flex;

}
li {
    display: block;
    width: 60px;
    margin-right: 16px;

}
li:last-of-type{

}
 
body {
    border: 3px;
    border-style: solid;
    border-color: red;
    background-image: url("/images/seth-yeanoplos-937z0Sje2G8-unsplash.jpg");
    background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-color: red;
    
}
.hero {

color: white;
min-height: 33vh;
display: flex;
flex-direction: column;
justify-content: center;
padding: 20 px 44px;

}

.button{
    color: white;
    background: dodgerblue;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 16px;
}
  
ul, .hero {
    background-color: red;
    opacity: 80%;
}


/* Mobile Styles*/

/* 1. Align the nav link items to the right of the screen
2. add whitespace around the nav links
3. create a "hero" component
4. Add your name and little description about you to the hero
5. Add button that will eventually link to the contact form
6. using MDN: Import noramlize.css (google it) via the css stylesheet