

ul {
    list-style-type: none;
    margin:5px;
    padding: 0;
    display: flex;

}
li {
    display: block;
    width: 60px;
    margin-right: 16px;

}
li:last-of-type{

}
 
body {
    border: 3px;
    border-style: solid;
    border-color: red;
    background-image: url("/images/seth-yeanoplos-937z0Sje2G8-unsplash.jpg");
    background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-color: red;
    
}
.hero {

color: white;
min-height: 33vh;
display: flex;
flex-direction: column;
justify-content: center;
padding: 20 px 44px;

}

.button{
    color: white;
    background: dodgerblue;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 16px;
}
  
ul, .hero {
    background-color: red;
    opacity: 80%;
}


/* must have at least one media query*/
/* height of the welcome section should be equal to the height of the viewport*/
/* navbar should always remain at the top of the viewport*/